In [16]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n Squareroot of DataFrame:\n",info.apply(np.sqrt))
print("\n sum of each column \n ",info.apply(np.sum,axis=0))
print("\n sum of each row \n ",info.apply(np.sum,axis=1))

DataFrame.apply function:


 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Squareroot of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column
  S    12
R    36
dtype: int64

 sum of each row
  0    12
1    12
2    12
3    12
dtype: int64

In [17]:
info1=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print(info1)
print(info.agg(['min','max']))

   x  y  z
0  2  4  6
1  1  3  5
2  5  8  7
     S  R
min  3  9
max  3  9

In [18]:
d2=pd.DataFrame([['Sai',88],['poo',70]],columns=['EMP','ID'])
print(d2)

   EMP  ID
0  Sai  88
1  poo  70

In [21]:
#adding new column
d2['Age']=[20,18]
print(d2)
d=d2.assign(sex=['Male','Male'])
print(d)

   EMP  ID  Age
0  Sai  88   20
1  poo  70   18
   EMP  ID  Age   sex
0  Sai  88   20  Male
1  poo  70   18  Male

In [22]:
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

       col3      col4
3 -0.406197 -0.983231
2 -0.556582  0.214444
0  1.009457  0.042631
4 -0.891056  0.452919
1 -0.163715  0.615065

In [25]:
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
0  1.009457  0.042631
1 -0.163715  0.615065
2 -0.556582  0.214444
3 -0.406197 -0.983231
4 -0.891056  0.452919
       col3      col4
4 -0.891056  0.452919
2 -0.556582  0.214444
3 -0.406197 -0.983231
1 -0.163715  0.615065
0  1.009457  0.042631

In [27]:
left=pd.DataFrame({'id':[1,2,3],'Name':['Sai','Bala','Kar'],'Sub:':['sub1','sub2','sub3']})
right=pd.DataFrame({'id':[1,2,3],'Name':['Aadhi','kum','ram'],'Sub':['sub1','sub2','sub3']})
print(pd.merge(left,right,on='id'))

   id Name_x  Sub: Name_y   Sub
0   1    Sai  sub1  Aadhi  sub1
1   2   Bala  sub2    kum  sub2
2   3    Kar  sub3    ram  sub3