In [ ]:
import pandas as pd
pd.set_option('display.max_column',10)
df=pd.read_excel("marksheet.xlsx")
print(df)

   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0   NaN  53.0  33.0
3         4  Aravind Kumar  56.0  65.0   NaN  32.0
4         5          Arjun  34.0  65.0  76.0   NaN
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya   NaN  57.0  75.0  23.0
7         8           Babu  75.0  54.0   NaN  43.0
8         9  Balaganapathy  43.0   NaN  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0

In [ ]:
k=df.fillna(method='pad')
print(k)
print("\n updated line\n")
k.to_excel("Marksheet.xlsx")

   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0  34.0  53.0  33.0
3         4  Aravind Kumar  56.0  65.0  53.0  32.0
4         5          Arjun  34.0  65.0  76.0  32.0
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya  25.0  57.0  75.0  23.0
7         8           Babu  75.0  54.0  75.0  43.0
8         9  Balaganapathy  43.0  54.0  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0

 updated line

<ipython-input-16-cbac5a4b630e>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  k=df.fillna(method='pad')

In [ ]:
k.drop(['T&D'],axis=1,inplace=True)
print(k)
k.to_excel("Marksheet.xlsx")

   Roll no.           Name  LICA   DLC  EM 2
0         1       Abhinith  36.0  41.0  63.0
1         2         Akilan  23.0  34.0  56.0
2         3      Anulaxxmi  23.0  34.0  53.0
3         4  Aravind Kumar  56.0  65.0  53.0
4         5          Arjun  34.0  65.0  76.0
5         6         Ashwin  25.0  55.0  23.0
6         7           Arya  25.0  57.0  75.0
7         8           Babu  75.0  54.0  75.0
8         9  Balaganapathy  43.0  54.0  65.0
9        10    Balamurugan  54.0  64.0  34.0

In [ ]:
print("\n Drop NaN row:\n")
df=pd.read_excel("marksheet copy.xlsx")
print(df)
x=df.dropna()
print(x)

 Drop NaN row:

   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0   NaN  53.0  33.0
3         4  Aravind Kumar  56.0  65.0   NaN  32.0
4         5          Arjun  34.0  65.0  76.0   NaN
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya   NaN  57.0  75.0  23.0
7         8           Babu  75.0  54.0   NaN  43.0
8         9  Balaganapathy  43.0   NaN  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0
   Roll no.         Name  LICA   DLC  EM 2   T&D
0         1     Abhinith  36.0  41.0  63.0  53.0
1         2       Akilan  23.0  34.0  56.0  65.0
5         6       Ashwin  25.0  55.0  23.0  54.0
9        10  Balamurugan  54.0  64.0  34.0  75.0

In [ ]:
print("\n Replace values:\n")
n=pd.read_excel("Marksheet.xlsx")
print(n)
y=n.replace({75.0:85.0})
print(y)
y.to_excel("Marksheet.xlsx")

 Replace values:

   Unnamed: 0.1  Unnamed: 0  Roll no.           Name  LICA  DLC  EM 2
0             0           0         1       Abhinith    36   41    63
1             1           1         2         Akilan    23   34    56
2             2           2         3      Anulaxxmi    23   34    53
3             3           3         4  Aravind Kumar    56   65    53
4             4           4         5          Arjun    34   65    76
5             5           5         6         Ashwin    25   55    23
6             6           6         7           Arya    25   57    85
7             7           7         8           Babu    85   54    85
8             8           8         9  Balaganapathy    43   54    65
9             9           9        10    Balamurugan    54   64    34
   Unnamed: 0.1  Unnamed: 0  Roll no.           Name  LICA  DLC  EM 2
0             0           0         1       Abhinith    36   41    63
1             1           1         2         Akilan    23   34    56
2             2           2         3      Anulaxxmi    23   34    53
3             3           3         4  Aravind Kumar    56   65    53
4             4           4         5          Arjun    34   65    76
5             5           5         6         Ashwin    25   55    23
6             6           6         7           Arya    25   57    85
7             7           7         8           Babu    85   54    85
8             8           8         9  Balaganapathy    43   54    65
9             9           9        10    Balamurugan    54   64    34

In [33]:
df=pd.read_excel("marksheet.xlsx")
print(df)
print("\n Extract using isin() function:\n")
# Pass 1901 as a single-element list
new=df['T&D'].isin([75.0])
print(df[new])

   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0   NaN  53.0  33.0
3         4  Aravind Kumar  56.0  65.0   NaN  32.0
4         5          Arjun  34.0  65.0  76.0   NaN
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya   NaN  57.0  75.0  23.0
7         8           Babu  75.0  54.0   NaN  43.0
8         9  Balaganapathy  43.0   NaN  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0

 Extract using isin() function:

   Roll no.         Name  LICA   DLC  EM 2   T&D
9        10  Balamurugan  54.0  64.0  34.0  75.0