In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['sai','subu','divya','yuvi','rithi','sangi'],'B':['one','two','three','one','three','two'],
                'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
print(df)

       A      B  C  D  E
0    sai    one  4  0  4
1   subu    two  1  0  2
2  divya  three  3  2  2
3   yuvi    one  4  3  2
4  rithi  three  3  4  2
5  sangi    two  4  3  4

In [ ]:
df=pd.DataFrame({'A':['sai','poo','subu','yuvi','rithi','sangi','sai','poo'],'B':['one','two','three','one','three','two','one','two'],
                'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8)})
print(df)
df1=df.groupby('A',as_index=False)['C'].sum()
print(df1)

       A      B  C  D
0    sai    one  0  1
1    poo    two  0  3
2   subu  three  4  4
3   yuvi    one  4  4
4  rithi  three  0  2
5  sangi    two  3  4
6    sai    one  1  1
7    poo    two  4  3
       A  C
0    poo  4
1  rithi  0
2    sai  1
3  sangi  3
4   subu  4
5   yuvi  4

In [ ]:
print(df)
df1=df.groupby(['A','B'],as_index=False)['C','D'].sum()
print(df1)

       A      B  C  D
0    sai    one  0  1
1    poo    two  0  3
2   subu  three  4  4
3   yuvi    one  4  4
4  rithi  three  0  2
5  sangi    two  3  4
6    sai    one  1  1
7    poo    two  4  3
       A      B  C  D
0    poo    two  4  6
1  rithi  three  0  2
2    sai    one  1  2
3  sangi    two  3  4
4   subu  three  4  4
5   yuvi    one  4  4

C:\Users\REC\AppData\Local\Temp\ipykernel_9188\3160235684.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df.groupby(['A','B'],as_index=False)['C','D'].sum()

In [1]:
#using groupby() with agg()
import pandas as pd
df=pd.DataFrame({'category':['A','B','C','A','B','C'],'sales':[100,200,150,150,130,200],'Profit':[10,15,20,25,30,15]})
print("\n original DataFrame:\n",df)

 original DataFrame:
   category  sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15

In [5]:
df_grouped=df.groupby('category').agg({'sales':['sum','mean'],'Profit':['sum','max']})
print(df_grouped)

         sales        Profit
           sum   mean    sum max
category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20