In [1]:
import pandas as pd
d1={"name":["sai","sub","poo"],"age":[20,21,22]}
d2={"qualified":[True,True,False]}
df1=pd.DataFrame(d1)
print(df1)

  name  age
0  sai   20
1  sub   21
2  poo   22

In [2]:
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

   qualified
0       True
1       True
2      False
  name  age  qualified
0  sai   20       True
1  sub   21       True
2  poo   22      False

In [8]:
d1={"name":["sai","sri","pavi"],"age":[20,21,22]}
d2={"name":["yuvi","rithika","sanjay"],"age":[15,16,21]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)

   name  age
0   sai   20
1   sri   21
2  pavi   22
      name  age
0     yuvi   15
1  rithika   16
2   sanjay   21

In [9]:
newdf1=df2.merge(df1,on="age")
print(newdf1)

   name_x  age name_y
0  sanjay   21    sri

In [19]:
df=pd.DataFrame({'team':['A','B','C','D'],'points':[90,56,78,88],'assists':[12,34,23,44],'rebounds':[56,43,55,12]})
print(df)
dp=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
print(dp)

  team  points  assists  rebounds
0    A      90       12        56
1    B      56       34        43
2    C      78       23        55
3    D      88       44        12
   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A   assists     12
5     B   assists     34
6     C   assists     23
7     D   assists     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12