In [4]:
import pandas as pd
data={'Name':['Sai','Yuvasri','Poovannan','Sabharish'],'Age':[20,18,19,20],'Gender':['M','F','M','M'],'Marks':[87,'NaN',45,'NaN']}
df=pd.DataFrame(data)
print("Original DataFrame:\n",df)

Original DataFrame:
         Name  Age Gender Marks
0        Sai   20      M    87
1    Yuvasri   18      F   NaN
2  Poovannan   19      M    45
3  Sabharish   20      M   NaN

In [6]:
c=avg=0
for ele in df['Marks']:
 if str(ele).isnumeric():
     c+=1
     avg+=ele
     avg/=c
     df=df.replace(to_replace="NaN",value=avg)
print("\nReplacing NaN with average marks:\n",df)

Replacing NaN with average marks:
         Name  Age Gender  Marks
0        Sai   20      M   87.0
1    Yuvasri   18      F   87.0
2  Poovannan   19      M   45.0
3  Sabharish   20      M   87.0

In [7]:
df=df[df['Marks']>=75]
df=df.drop(['Age'],axis=1)
print("\nFiltering and Dropping func:\n",df)

Filtering and Dropping func:
         Name Gender  Marks
0        Sai      M   87.0
1    Yuvasri      F   87.0
3  Sabharish      M   87.0

In [8]:
one=pd.DataFrame({'Name':['Sai','Sub'],'subject_id':['sub1','sub2'],'Marks_scored':[98,95]},index=[1,
2])
two=pd.DataFrame({'Name':['Sam','Poo'],'subject_id':['sub3','sub4'],'Marks_scored':[86,95]},index=[
3,4])
print("\nOriginal DataFrame 1:\n",one)
print("\nOriginal DataFrame 2:\n",two)
print("\nMerged DataFrame\n",pd.concat([one,two]))

Original DataFrame 1:
   Name subject_id  Marks_scored
1  Sai       sub1            98
2  Sub       sub2            95

Original DataFrame 2:
   Name subject_id  Marks_scored
3  Sam       sub3            86
4  Poo       sub4            95

Merged DataFrame
   Name subject_id  Marks_scored
1  Sai       sub1            98
2  Sub       sub2            95
3  Sam       sub3            86
4  Poo       sub4            95