In [15]:
import pandas as pd
d=pd.read_excel("Book1.xlsx")
print("the datas are:\n",d)

the datas are:
    S.NO           NAME  GENDER  JOIN DATE     LAST LOGIN TIME    SALARY  \
0   NaN            NaN     NaN        NaT                 NaT       NaN
1   NaN            NaN     NaN        NaT                 NaT       NaN
2   1.0       John Doe    Male 2020-03-01 2025-02-19 08:00:00   90000.0
3   2.0     Jane Smith  Female 2018-06-10 2025-02-19 09:15:00  100000.0
4   3.0  Emily Johnson  Female 2019-08-20 2025-02-18 19:30:00   85000.0
5   4.0  Michael Brown    Male 2021-11-15 2025-02-19 10:00:00   95000.0
6   5.0    Sarah White  Female 2022-01-22 2025-02-19 18:45:00   88000.0
7   6.0      James Lee    Male 2020-05-30 2025-02-19 11:10:00   83000.0

    BONUS SENIOR MANAGER(T/F)        TEAM
0     NaN                 NaN         NaN
1     NaN                 NaN         NaN
2  7500.0                   T   Marketing
3  8000.0                   F       Sales
4  7000.0                   T          HR
5  6000.0                   F          IT
6  7500.0                   T  Operations
7  7000.0                   F     Finance

In [6]:
import pandas as pd
d=pd.read_excel("employee details.xlsx")
print(d)

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[100 rows x 11 columns]

In [16]:
df=pd.DataFrame(d)
print("columns",df.columns)
print(df.shape)

columns Index(['S.NO', 'NAME', 'GENDER', 'JOIN DATE', 'LAST LOGIN TIME', 'SALARY',
       'BONUS', 'SENIOR MANAGER(T/F)', 'TEAM'],
      dtype='object')
(8, 9)

In [18]:
print("TEAM",df['TEAM'])

TEAM 0           NaN
1           NaN
2     Marketing
3         Sales
4            HR
5            IT
6    Operations
7       Finance
Name: TEAM, dtype: object

In [24]:
print(df[1:6])

   S.NO           NAME  GENDER  JOIN DATE     LAST LOGIN TIME    SALARY  \
1   NaN            NaN     NaN        NaT                 NaT       NaN
2   1.0       John Doe    Male 2020-03-01 2025-02-19 08:00:00   90000.0
3   2.0     Jane Smith  Female 2018-06-10 2025-02-19 09:15:00  100000.0
4   3.0  Emily Johnson  Female 2019-08-20 2025-02-18 19:30:00   85000.0
5   4.0  Michael Brown    Male 2021-11-15 2025-02-19 10:00:00   95000.0

    BONUS SENIOR MANAGER(T/F)       TEAM
1     NaN                 NaN        NaN
2  7500.0                   T  Marketing
3  8000.0                   F      Sales
4  7000.0                   T         HR
5  6000.0                   F         IT

In [25]:
print("Particular person details:",df.loc[2])

Particular person details: S.NO                                   1.0
NAME                              John Doe
GENDER                                Male
JOIN DATE              2020-03-01 00:00:00
LAST LOGIN TIME        2025-02-19 08:00:00
SALARY                             90000.0
BONUS                               7500.0
SENIOR MANAGER(T/F)                      T
TEAM                             Marketing
Name: 2, dtype: object

In [35]:
print(d.loc[d['NAME']=='John Doe'])

   S.NO      NAME GENDER  JOIN DATE     LAST LOGIN TIME   SALARY   BONUS  \
2   1.0  John Doe   Male 2020-03-01 2025-02-19 08:00:00  90000.0  7500.0

  SENIOR MANAGER(T/F)       TEAM
2                   T  Marketing

In [38]:
df=d['SALARY']/100
print(df)

0       NaN
1       NaN
2     900.0
3    1000.0
4     850.0
5     950.0
6     880.0
7     830.0
Name: SALARY, dtype: float64