In [3]:
import datetime
a=datetime.datetime.now()
print("today-now function: ",a)

today-now function:  2025-04-07 03:16:05.237167

In [4]:
today=datetime.datetime.today()
print("\ntoday: ",today)

today:  2025-04-07 03:16:26.666919

In [5]:
tomorrow=today+datetime.timedelta(days=3)
print("\ntomorrow:",tomorrow)

tomorrow: 2025-04-10 03:16:26.666919

In [6]:
yesterday=today-datetime.timedelta(days=2)
print("\nyesterday: ",yesterday)

yesterday:  2025-04-05 03:16:26.666919

In [7]:
a=datetime.datetime.now()
b=datetime.datetime(2020,6,8,23,10,25,404040)
print("\ndate format [2020,6,8,23,10,25,404040): ",b)

date format [2020,6,8,23,10,25,404040):  2020-06-08 23:10:25.404040

In [8]:
from datetime import date
d=date(2024, 12, 31)
print("\nReplacing date",d,d.replace(day=15))

Replacing date 2024-12-31 2024-12-15

In [9]:
t=date(2004,4,17)
d=date(2004,4,17).ctime()
print("\nDay and Month:",t,d)

Day and Month: 2004-04-17 Sat Apr 17 00:00:00 2004

In [10]:
today=date.today()
print("\nToday:",today)
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:",today.day)

Today: 2025-04-07
Current year: 2025
Current month: 4
Current day: 7